
        <!-- Footer Empieza -->
        <div class="footer" style="font-family: 'Work Sans', sans-serif; font-weight: 200;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-contact">
                            <h2>Contactate con nosotros</h2>
                            <p><i class="fa fa-map-marker-alt"></i>123 Sarmiento, Rosario, Santa Fe.</p>
                            <p><i class="fa fa-phone-alt"></i>+54341-390-390</p>
                            <p><i class="fa fa-envelope"></i>info@ejemplo.com</p>
                            <div class="footer-social">
                                <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-link">
                            <h2>Preguntas Frecuentes</h2>
                            <a href="/informacion">Información</a>
                            <a href="/informacion">Cómo contratar</a>
                            <a href="/informacion">Nuestro servicio</a>
                            <a href="/FAQ">FAQ</a>
                            <a href="/informacion">Planes de precio</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <form>
                                <input class="form-control" placeholder="Nombre y Apellido">
                                <input class="form-control" placeholder="Email">
                                <button class="btn btn-custom">Suscribirse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>&copy; <a href="/">Apolo</a>, All Right Reserved. Designed By <a href="">LOS PIBES
                        DE EGG</a></p>
            </div>
        </div>
        <!-- Footer Termina -->
