<!-- Barra navegación sin usuario -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
      <!-- Logo-->
      <a class="navbar-brand me-2" href="/">
          <img src="img/logo.png" height="40" alt="" loading="lazy" style="margin-top: -1px;" />
      </a>

      <!-- Hamburguesa -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
              aria-label="Navegacion">
          <i class="fas fa-bars"></i>
      </button>

      <!-- Barra desplegable -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Links de la izquierda -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="/registro">CONTRATAR</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/informacion">INFORMACIÓN</a>
              </li>
          </ul>

          <!-- Termina links izquierda -->

          <div class="d-flex align-items-center">
              <a href="/login" class="btn btn-link px-3 me-2" role="button" style="color: #007EA7">Iniciar Sesión</a>
              <a href="/registro" class="btn btn-primary me-3" role="button" style="background-color: #007EA7">Registro</a>


          </div>
      </div>
  </div>   
</nav>
<!-- Termina barra sin usuario-->
