<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>Apolo - Inicio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Template Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />

</head>

<body>
  <!-- Navegación  -->
        
        <div th:if="${session.usuariosession != null}" ><nav th:replace="/fragments/navbaruser :: nav"></nav> </div>
      
        <div th:if="${session.usuariosession == null}" ><nav th:replace="/fragments/navbar :: nav" ></nav> </div>

        
        
        <!-- CAJA DE ARTISTAS-->
        &nbsp; &nbsp;
        &nbsp; &nbsp;
        
        <table class="container">
            <div class="container">
                <div class="caja">
                    <thread class="list-group">
                        <h3 class="list-group-item" style="background: #003459; color: #fff;" >Artistas según tu búsqueda</h3>  
                        <h5 th:if="error!=null" th:text="${error}" style='color:white'></h5>
                    </thread>

                    <tbody>

                        <tr th:if="${artista.baja}==null" th:each="artista : ${artistas}" class="list-group-item list-group-item-action">
                            <th> <a th:href="@{/artista/perfilArtista(idArtista=__${artista.id}__)}" th:text="${artista.nombre}"> </a> </th>
                        </tr>
                    </tbody>
                </div>
            </div>
        </table>
        
        
        <table class="container">
            <div class="container">
                <div class="caja">
                    <thread class="list-group">
                        <h3 class="list-group-item" style="background: #003459; color: #fff;" >Artistas en la misma zona</h3>  
                    </thread>
                    
                    <tbody>
                        <tr th:if="${artista.baja}==null" th:each="artista : ${artistasMismaZona}" class="list-group-item list-group-item-action">
                            <th> <a th:href="@{/artista/perfilArtista(idArtista=__${artista.id}__)}" th:text="${artista.nombre}"> </a> </th>
                        </tr>
                    </tbody>
                </div>
            </div>
        </table>
        
        <table class="container">
            <div class="container">
                <div class="caja">
                    <thread class="list-group">
                        <h3 class="list-group-item" style="background: #003459; color: #fff;" >Artistas del mismo género</h3>  
                    </thread>

                    <tbody>
                        <tr th:if="${artista.baja}==null" th:each="artista : ${artistasMismoGenero}" class="list-group-item list-group-item-action">
                            <th> <a th:href="@{/artista/perfilArtista(idArtista=__${artista.id}__)}" th:text="${artista.nombre}"> </a> </th>
                        </tr>
                    </tbody>
                </div>
            </div>
        </table>
        
        <table class="container">
            <div class="container">
                <div class="caja">
                    <thread class="list-group">
                        <h3 class="list-group-item" style="background: #003459; color: #fff;" >Otros artistas</h3>  
                    </thread>

                    <tbody>

                        <tr th:if="${artista.baja}==null" th:each="artista : ${artistasOtros}" class="list-group-item list-group-item-action">
                            <th> <a th:href="@{/artista/perfilArtista(idArtista=__${artista.id}__)}" th:text="${artista.nombre}"> </a> </th>
                        </tr>
                    </tbody>
                </div>
            </div>
        </table>
        


    &nbsp; &nbsp;
    <div style="margin: 0 auto; text-align: center">
    <a href="\" class="btn btn-link px-3 me-2" role="button" style="color: #007EA7;text-align:center">Volver a Inicio</a>
    &nbsp; &nbsp;
    </div>
    

    <!-- Footer -->
        <div th:replace="/fragments/footer :: div"></div>
  

    <!-- JavaScript Librerias -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.js"></script>

    <script src="../static/js/bootstrap-datetimepicker.es.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

    <!-- Navbar Javascript -->
       <script>$(function() {
	var $dropDownMenu = $(".avatar-dropdown-menu");

	$dropDownMenu.click(function(e) {		
		e.stopPropagation();

		$(document).on("click", menuCloseListener);

		toggleMenu();
	});

	var toggleMenu = function() {
		$dropDownMenu.toggleClass("open");
	}

	var menuCloseListener = function() {
		toggleMenu();

		$(document).off("click", menuCloseListener);
	}
});

$(function() {
	var $dropDownMenu = $(".noti-dropdown-menu");

	$dropDownMenu.click(function(e) {		
		e.stopPropagation();

		$(document).on("click", menuCloseListener);

		toggleMenu();
	});

	var toggleMenu = function() {
		$dropDownMenu.toggleClass("open");
	}

	var menuCloseListener = function() {
		toggleMenu();

		$(document).off("click", menuCloseListener);
	}
});
$(function() {
	var $dropDownMenu = $(".noti-dropdown-menu2");

	$dropDownMenu.click(function(e) {		
		e.stopPropagation();

		$(document).on("click", menuCloseListener);

		toggleMenu();
	});

	var toggleMenu = function() {
		$dropDownMenu.toggleClass("open");
	}

	var menuCloseListener = function() {
		toggleMenu();

		$(document).off("click", menuCloseListener);
	}
});
</script>
</body>

</html>