<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Apolo - Contrata tu artista</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />

</head>

<body>


    <!-- Barra navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <!-- Logo-->
            <a class="navbar-brand me-2" href="/">
                <img src="img/logo.png" height="40" alt="" loading="lazy" style="margin-top: -1px;" />
            </a>

            <!-- Hamburguesa -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Navegacion">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Barra desplegable -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Links de la izquierda -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/registro">CONTRATAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informacion">INFORMACIÓN</a>
                    </li>
                </ul>

                <!-- Termina links izquierda -->

                <div class="d-flex align-items-center">
                    <a href="/login" class="btn btn-link px-3 me-2" role="button" style="color: #007EA7">Iniciar Sesión</a>
                    <a href="/registro" class="btn btn-primary me-3" role="button" style="background-color: #007EA7">Registro</a>
                    

                </div>
            </div>
            <!-- Termina barra desplegable-->
        </div>

    </nav>
    <!-- Termina navbar -->

    <!-- Empieza Mensaje Éxito -->
    &nbsp; 
    &nbsp;
    &nbsp; 
    &nbsp;
    <h1 style="color:white;text-align:center">  ¡Usted ha salido con éxito!</h1>
    <p style="color:whitesmoke;text-align:center"> Vuelva pronto...</p>
    &nbsp; &nbsp;
    
    &nbsp; &nbsp;
    <div style="margin: 0 auto; text-align: center">
    <a href="/" class="btn btn-link px-3 me-2" role="button" style="color: #007EA7;text-align:center">Volver a Apolo</a>
    &nbsp; &nbsp;
    </div>
    <!-- Termina Mensaje Éxito -->
    

    <!-- Footer Empieza -->
    <div class="footer" style="font-family: 'Work Sans', sans-serif; font-weight: 200;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Contactate con nosotros</h2>
                        <p><i class="fa fa-map-marker-alt"></i>123 Sarmiento, Rosario, Santa Fe.</p>
                        <p><i class="fa fa-phone-alt"></i>+54341-390-390</p>
                        <p><i class="fa fa-envelope"></i>info@ejemplo.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Preguntas Frecuentes</h2>
                        <a href="">Información</a>
                        <a href="">Cómo contratar</a>
                        <a href="">Nuestro servicio</a>
                        <a href="">FAQ</a>
                        <a href="">Planes de precio</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Preguntas Frecuentes</h2>
                        <a href="">Información</a>
                        <a href="">Cómo contratar</a>
                        <a href="">Nuestro servicio</a>
                        <a href="">FAQ</a>
                        <a href="">Planes de precio</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="Nombre y Apellido">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Suscribirse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Apolo</a>, All Right Reserved. Designed By <a href="https://htmlcodex.com">LOS PIBES
                    DE EGG</a></p>
        </div>
    </div>
    <!-- Footer Termina -->

  

    <!-- JavaScript Librerias -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>

    <script src="js/bootstrap-datetimepicker.es.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

    <!-- Main Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
